<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>covid19 2020</title>



</head>
<body>

<!--header-->


<!--main-->
<div class="data_content">

    <blockquote>
<center>
	<h1>Impacts of COVID-19 among in India,Brazil,Egypt,Egypt</h1>
</center>
</blockquote>
<blockquote>
	Project Overview

	<small>Impacts of COVID-19 among in<cite title="Source Title">India,Brazil,Egypt and Egypt</cite></small>
	<img src="../static/img/1.jpg">
</blockquote>
<blockquote class="pull-right">


</blockquote>

<blockquote>
<center>
	Covid-19 <strong> is now a <font style="color:#FF0000">growing threat to the world.</font>
  <br>
  <br>
  Therefore, it is necessary to provide the public and decision-makers <br> with the means to visually visualize the epidemic data.
  <br>
  <br>
	This project mainly provides data visualization for users from the perspectives of<br>
	static display and interaction, so that users can intuitively<br>
	understand epidemic data from different aspects.
  <br>
  <br>
  The site contains four major tags: <p style="">
  <font style="color:blue">1.epidemic trends,
  <br>
  2.strategy presentation,
  <br>
  3.impact and response,
  <br>
  4. multi-role collaboration, and impact communities.
  </font>
  <br>
  <br>
</center>
</strong>


</blockquote>


<blockquote>
	 <h1> <span class="label label-default">Data Source</span></h1>
<blockquote>
  TradingEconomics
  <small>https://tradingeconomics.com/world/coronavirus-cases </small>
</blockquote>
	<blockquote>
   Statista
  <small>https://www.statista.com/page/covid-19-coronavirus </small>
</blockquote>
<blockquote>
   Apple Mobility Trends Report Data
  <small>https://covid19.apple.com/mobility </small>
</blockquote>
<blockquote>
   Knoema Dataset
  <small>https://knoema.com/atlas/matrix </small>
</blockquote>
<blockquote>
   Google Community Mobility Dataset
  <small>https://www.google.com/covid19/mobility/ </small>
</blockquote>

<blockquote>
  	 <h1> <span class="label label-default">References</span></h1>
<h5>1. India Government and institution measures in response to COVID-19.</h5>
<h6>https://home.kpmg/xx/en/home/insights/2020/04/india-government-and-institution-measures-in-response-to-covid.html</h6>

<h5>2. Brazil Government and institution measures in response to COVID-19.</h5>
<h6>https://home.kpmg/xx/en/home/insights/2020/04/brazil-government-and-institution-measures-in-response-to-covid.html</h6>

<h5>4. Partial curfew imposed in Egypt</h5>
<h6>https://www.arabnews.com/node/1646516/middle-east</h6>

<h5>5. Repression and Coronavirus Response in Egypt</h5>
<h6>https://carnegieendowment.org/sada/82304#:~:text=The%20Egyptian%20government's%20response%20to,than%20a%20public%20health%20crisis</h6>

<h5>6. Indonesia COVID-19 Policy-Making Tracker</h5>
<h6>https://www.ingsa.org/covid/policymaking-tracker/asia/indonesia/</h6>

<h5>7. Brazil's Exposure to COVID-19</h5>
<h6>http://documents1.worldbank.org/curated/en/815171594360526714/pdf/Overview.pdf</h6>

<h5>8. Each Countries' Business Confidence Index</h5>
<h6>https://www.economy.com</h6>


</div>

</body>

<script src="../static/js/jquery-3.5.0.min.js"></script>



</html>
